.portfolioContainer {
  padding-top: 60px;
}

.projectContainer {
  margin-bottom: 5%;
}
/* fixes footer hidding content */
.clear {
  clear: both;
  height: 80px;
}


@media only screen and (max-width: 375px) {
  .projectContainer {
    margin-bottom: 19%;
  }
  .clear {
    height: 120px;
  }
}