.visible {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin-top: 2%;
  align-content: flex-end;
  background-color: rgb(74, 163, 151);
}

.not-visible {
  display: none;
}

.attribution {
  margin: 0px 0px 10px 20px;
  padding-top: 6px;
  font-size: 20%;
  color: black;
}
.copyright {
  padding-left: 20px;
  width: 100%;
  background-color: rgb(74, 163, 151);
  position: absolute;
  bottom: 0;
  font-size: 20%;
  color: black;
}

@media only screen and (max-width: 375px) {
  .visible {
    margin-top: 61px;
  }
  .attribution {
    font-size: 3%;
    margin: 0;
    padding-left: 10px;
  }
}