.footer-position {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  margin-bottom: 60px;
}

.footer-container {
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
}