.contactContainer {
  width: 30%;
  margin-top: 5%;
  margin-left: 5%;
  padding: 5% 0 5% 5%;
  background: rgba(255,255,255,0.8);
}

.title {
  margin-bottom: 50px;
}

.paragraph {
  margin: 0;
  padding: 0;
}

.iconContainer {
  margin-top: 50px;
  display: flex;
  justify-content: flex-start;
}

.imgContainer {
  margin-right: 20px;
}

.attribution {
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 20%;
  position: fixed;
  bottom: 0;
}

@media only screen and (max-width: 375px) {
  .contactContainer {
    margin-top: 20%;
    width: 85%;
  }
}

@media only screen and (max-width: 768px) {
  .contactContainer {
    margin-top: 40%;
    width: 60%;
  }
}