@keyframes topToBottomFadeIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.home-container {
  text-align: center;
  padding-top: 20%;
  display: flex;
  flex-flow: column nowrap;
  color: white;
}

.self {
  height: 30%;
  border-radius: 50% 50%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;
  top: 11%;
  box-shadow: 5px 5px 50px 10px #888888;
}

.title-container {
  background-color: rgb(255,255,255, 0.3);
  width: 100%;
  padding: 60px 0;
  margin: auto;
  animation: topToBottomFadeIn 900ms ease-in-out;
}

.title {
  margin-bottom: 20px;
  animation: topToBottomFadeIn 1500ms ease-out;
}

.title-name{
  font-size: 40px;
  letter-spacing: 5px;
}
.title-role{
  font-size: 20px;
  width: 30%;
  margin: auto;
}

.iconContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.description-container {
  margin: auto;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .home-container {
    padding-top: 30%;
  }
}
@media only screen and (max-width: 375px) {
  .home-container {
    padding-top: 10%;
  }
  .attribution {
    font-size: 5%;
  }
}

